body {
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613676167_60-p-fon-dlya-novogodnei-prezentatsii-dlya-dete-73.jpg);
  background-repeat: no-repeat;

}
.a1 {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.question-card {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  border: 3px solid black;
  width: 350px;
}

.question-img {
  width: 300px;
  height: 300px;
}

.body-card .next {
  margin-left: 100px;
  display: flex;
  justify-content: center;
}
.reg {
  width: 180vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.input1 {
  color: gray;
  border-radius: 8px;
  width: 300px;
}
.butnReg {
  border-radius: 8px;
  background-color: black;
  color: white;
  width: 110px;
}


.xmas {
  position: relative;
  background-image: url(/img/garland.gif);
  background-size:contain;
  /* transform: scaleX(-1); */
  height: 10vh;
  margin-bottom: 100px;
}
.navbar{
  border-bottom: 2px solid lightslategray;
}
.containerForCategories {
  display: flex;
  justify-content: center;
}
.card {
  border-radius: 10px;
}
.card-img-top {
  border-radius: 10px 10px 0 0;
}

